<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AzureAdRole" value="GroupStore,MemberSource,GroupOwnerSource" />
		<add key="AzureAdClientSecretIsDpapiProtected" value="true" />
		<add key="AzureAdClientSecret" value="" />
		<add key="AzureAdClientId" value="" />
		<add key="AzureAdTenantId" value="" />
		<add key="ExchangeRole" value="GroupStore,MemberSource" />
		<add key="ExchangePasswordIsDpapiProtected" value="true" />
		<add key="ExchangeUserName" value="" />
		<add key="ExchangePassword" value="" />
		<add key="OnPremAdRole" value="GroupStore,MemberSource" />
		<add key="OnPremAdUserName" value="" />
		<add key="OnPremAdPassword" value="" />
		<add key="OnPremAdPasswordIsDpapiProtected" value="true" />
		<add key="MemberDatabaseConnectionString" value="" />
		<add key="DocumentDatabaseConnectionString" value="" />
		<add key="LogDatabaseConnectionString" value="" />
		<add key="ChangeRatioLowerLimit" value="0.5" />
	</appSettings>
</configuration>