<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="DpapiProtectedSettings" value="AzureAdCertificatePassword,ExchangeCertificatePassword,OnPremAdPassword" />

        <add key="AzureAdRole" value="GroupStore,MemberSource,GroupOwnerSource" />
        <add key="AzureAdClientId" value="(App ID for app registration)" />
        <add key="AzureAdTenantId" value="" />

        <!-- either -->
        <add key="AzureAdClientSecret" value="" />
        <!-- or -->
        <add key="AzureAdCertificateFilePath" value="" />
        <add key="AzureAdCertificatePassword" value="" />
        <!-- or -->
        <add key="AzureAdCertificateAsBase64" value="" />
        <add key="AzureAdCertificatePassword" value="" />
        <!-- or -->
        <add key="AzureAdCertificateThumbprint" value="" />
        <add key="AzureAdCertificateStoreLocation" value="CurrentUser" />

        <add key="ExchangeRole" value="GroupStore,MemberSource" />
        <add key="ExchangeOrganization" value="mycompany.onmicrosoft.com" />
        <add key="ExchangeAppId" value="(App ID for app registration)" />

        <!-- either -->
        <add key="ExchangeCertificateFilePath" value="" />
        <add key="ExchangeCertificatePassword" value="" />
        <!-- or -->
        <add key="ExchangeCertificateAsBase64" value="" />
        <add key="ExchangeCertificatePassword" value="" />
        <!-- or -->
        <add key="ExchangeCertificateThumbprint" value="" />
        <add key="ExchangeCertificateStoreLocation" value="CurrentUser" />

        <add key="OnPremAdRole" value="GroupStore,MemberSource" />
        <add key="OnPremAdUserName" value="" />
        <add key="OnPremAdPassword" value="" />

        <add key="MemberDatabaseConnectionString" value="" />
        <add key="DocumentDatabaseConnectionString" value="" />
        <add key="LogDatabaseConnectionString" value="" />
        <add key="ChangeRatioLowerLimit" value="0.5" />
    </appSettings>
</configuration>